<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for cinema in cinemas %}
    kino: <br>
        {{ cinema.name }} <br>
        _________ <br>
        filmy w tym kinie: <br>
        {% for film in cinema.films %}
            opis filmu: <br>

            {{ film.name }}<br>
            {{ film.repertoire }}<br>
            {{ film.duration }}<br>
            {{ film.status }}<br>
            {{ film.vote_count }}<br>
            ______________ <br>
        {% endfor %}    
    {% endfor %}
</body>
</html>